<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Hello, world!</title>
  </head>
  <body>
    <header>
      <a href="/api/products">Products</a>
      <a href="/realtimeproducts">Real Time Products</a>
      <a href="/api/carts">Carts</a>
    </header>
    <main class="container">
      <h1>{{{body}}}</h1>
    </main>
  </body>
</html>